<h5 class="section-heading">Filters</tip></h5>
<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-6">Source</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Source' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">Host</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Host' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">User</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.CreationUser' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">Owner</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Owner' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">Category</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Category' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">Url</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Url' placeholder=""></input>
        </div>
        <div class="gf-form">
            <span class="gf-form-label width-6">Message</span>
            <input type="text" class="gf-form-input max-width-10" ng-model='ctrl.annotation.Message' placeholder=""></input>
        </div>
    </div>